*{
  
  margin: 0px ;
  padding: 0px ;
}

.body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    width: 100vw ;
    height: 100px;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
    }

nav ul {
    background-color: black;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
   
    }
   
    nav ul li {
      float: left;
    }
   
    nav ul li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
   
    nav ul li a:hover {
      background-color: darkgray;
    }

   
  
    .intro h1{
     color: silver;
     display: flex;
     justify-content: center;
     font-size: 125px;
     margin-top: 15vh;
    }
    
    .intro h3{
        color: silver;
        display: flex;
        justify-content: center;
        font-size: 25px;

    }
    .intro h4{
        color: silver;
        display: flex;
        justify-content: center;
        font-size: 25px;
        
    }

    .explore-button{
        width: 200px;
        height: 40px;
        background-color: white;
        border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .explore-knop{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8vh;
        
    }

.shape-common{
    height: 50vh;
    margin-top: 15vh;
    position: absolute;
    left: 0;
}

.shape-rigth{
    height: 50vh;
    margin-top: 15vh;
    position: absolute;
    right: 0;
    
}

.over-mij h1{
  color: white;
  font-size: 70px;
text-align: center;

}

.over-mij h2{
  color: white;
  font-size: 15px;
  text-align: center;

}

.img-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20vh;
}

.foto-ik{
  object-fit: contain;
  margin-top: 25vh;
}

.over-mij h3{
  color: white;
  font-size: 15px;
text-align: center;
margin-top: 5vh;
}

.projecten-info h1{
  font-size: 80px;
  color: silver;
  display: flex;
  text-align: center;
  justify-content:center;
}

.blok-mastermind{
  width: 375px;
  height: 350px;
  background-color: white;
  border-radius: 50px;
}

.container-blok{
  display: flex;
  align-items: center;
  justify-content: center;
margin-top: 15vh;
margin-right: 600px;
}


.mastermind img{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .mastermind-img{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container-blok h2{
    color: black;
    font-size: 20px;
    text-align: center;
  }
  

.pinkgoose-blok{
  width: 375px;
  height: 350px;
  background-color: white;
  border-radius: 50px;
}

.container-pinkgoose{
  display: flex;
  align-items: center;
  justify-content: center;
margin-left: 600px;
margin-top: -48vh;
}

.pinkgoose-blok h1{
  color: black;
  text-align: center;
  font-size: 20px;
}

.pinkgoose-plaatje{
  margin-top: 100px;
}


.mastermind{
  margin-top: 15vh;
}

.uitleg-blok-mastermind{
  width: 550px;
  height: 300px;
  background-color: white;
  margin-top: 100px;
border-radius: 65px;
}

.img-eclipse-flowchart{
  display: flex;
  justify-content: center;
}

.uitleg-blok-div{
display: flex;
align-items: center;
justify-content: center;
}

.mastermind h1{
  margin-top: 10vh;
  color: silver;
}

.mastermind h2{
  margin-top: 5vh;
  color: silver;
}


.pinkgoose h1{
  font-size: 60px;
  color: silver;
  text-align: center;
  margin-top: 10vh;
}

.pinkgoose h1{
 
  color: white;
}

.pinkgoose h2{
  color: silver;
  text-align: center;
  margin-top: 5vh;
}

.blok-visualstudio{
  width: 300px;
  height: 300px;
  background-color: white;
  margin-top: 30vh;
  border-radius: 30px;
}

.containe-img-vusialstudio{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.blok-visualstudio h5{
  font-size: 15px;
  text-align: center;
  color: black;
  }

.pinkgoose-img{
  margin-top: 30vh;
  border-radius: 30px;
  object-fit: contain;
}

.plaatje-desing-pinkgoose{
  object-fit: contain;
}

.container-bijde-blokken{
  display:flex ;
  align-items: center;
  justify-content: space-around;
}

.contact h1{
  font-size: 50px;
  color:silver;
  text-align: center;
margin-top: 3vh;
}

#email{
  height: 50px;
  width: 500px;
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  display: flex;
  margin-top: 70px;
background-color: #243241;
text-align: center;
}
#name{

  height: 50px;
  width: 500px;
  border-radius: 16px;
  border-style: solid;
  display: flex;
  color: white;
  margin: 3% auto;
  text-align: center;
  background-color: #243241;
}

#message{

  height: 50px;
  width: 500px;
  border-radius: 16px;
  border-style: solid;
  display: flex;
  margin: 3% auto;
color: white;
  background-color:#243241 ;
  text-align: center;
  
}



#submit{
  background-color: pink;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
position: absolute;
left: 67%;
margin-top: 40px;

}



.explore-page h1{
font-size: 100px;
color: silver;
text-align: center;
margin-top: 28vh;
}

.explore-page img{
  margin-top: -18vh;
}

.explore-page h2{
  color: silver;
  font-size: 20px;
  position: absolute;
  left: 70px;
  margin-top: -30px;
}

.explore-page h3{
  color: silver;
  font-size: 20px;
  position: absolute;
  right: 110px;
  margin-top: 20vh;
}

.markt-img{
  position: absolute;
  right: 0;

}

.knop-terug{
  width: 200px;
        height: 50px;
        background-color: white;
        border-radius: 5px;
      text-align: center;
}
  
.container-knop-terug{
  display: flex;
  align-items: center;
  justify-content: center;
}

.knop-terug h1{
  text-align: center;
}